// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  background: white;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 3rem;
  padding: 0 1rem;
  border-bottom: 2px solid white;

  a {
    color: $body-color;
    font-size: $root-font-size;
    text-align: center;
    font-weight: 600;

    &:hover {
      text-decoration: none;
    }

    &.active {
        border-bottom: 2px solid $link-color;
    }

  }

   img {
    margin: 0;
  }

}

a.about {
      padding: 1.1rem 1rem 0.9rem;
      margin-right: -1rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

nav {
  display: flex;
  align-items: stretch;
}

nav a {
  display: inline-block;
  width: 8rem;
  padding: 1.1rem 0 0.9rem;
}
